<div id="footer">
    <div class="container">
        <div class="row-holder">
            <div class="col-4 m-order-1">
                <div class="logotype">
                    <a href="/"><img src="/images/Logo.png" alt=""></a>
                </div>
                <ul class="contacts-list">
                    <li><a href="/imprint.html" style="width: 100px;display: block;">Imprint</a></li>
                    <li><a href="/data-protection.html" style="width: 200px;display: block;"> Data Protection</a></li>
                </ul>
            </div>
            <div class="col-4 m-order-3">
                <h3>Contact</h3>
                <ul class="contacts-list">
                    <li>
                        <i class="icon icon-location2"></i>
                        <address>Göttingen</address>
                    </li>
                    <li>
                        <i class="icon icon-mail"></i>
                        <a href="mailto:info@shvedko.dev">info@shvedko.dev</a>
                    </li>
<!--                    <li>-->
<!--                        <i class="icon icon-call"></i>-->
<!--                        <a href="tel:+4(317)555-3846">+4 (317) 555-3846</a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="col-4 m-order-1">
                <h3>Follow us:</h3>
                <ul class="social-network">
                    <li class="col">
                        <a href="#" class="link-social-network"> <i class="icon icon-facebook1"></i></a>
                    </li>
                    <li class="col">
                        <a href="#" class="link-social-network"> <i class="icon icon-xtwitter"></i></a>
                    </li>
                    <li class="col">
                        <a href="#" class="link-social-network"> <i class="icon icon-upwork"></i></a>
                    </li>
                    <li class="col">
                        <a href="#" class="link-social-network"> <i class="icon icon-linkedin-square"></i></a>
                    </li>
                    <li class="col">
                        <a href="#" class="link-social-network"> <i class="icon icon-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="copy">
    <div class="container">
        <p>&copy; ShvedkoDev 2025. All Rights Reserved.</p>
    </div>
</footer>
