<section class="section" id="services">
    <div class="container">
        <div class="h-underline">
            <h2 class="animate-on-scroll zoom-in">Features & Benefits</h2>
            <div class="line"></div>
        </div>
        <div class="row-holder">
            <div class="col-3">
                <ul class="tabs-container animate-on-scroll">
                    <li>Custom Web Development</li>
                    <li>Expert Solutions Tailored to Your Needs</li>
                    <li>Expert Website Design</li>
                    <li>Responsive and Mobile-Friendly Websites</li>
                </ul>
            </div>
            <div class="col-6 animate-on-scroll">
                <div class="col-12 img-holder ">
                    <img src="images/Benefits.png" alt="">
                </div>
            </div>
            <div class="col-3 animate-on-scroll">
                <ul class="tabs-container">
                    <li>Powerful Web Applications</li>
                    <li>Increased Online Visibility</li>
                    <li>Tailored Solutions to Meet Your Unique Needsy</li>
                    <li>Expert Design and Development</li>
                    <li>Responsive and Mobile-Optimized Websites</li>
                </ul>
            </div>
        </div>
</section>