<div class="container">
    <h2 class="animate-on-scroll zoom-in">Our Core Team</h2>
    <div class="team-container">
        <div class="team-member animate-on-scroll">
            <img src="/images/img01.png" alt="Hennadii" class="photo">
            <h2 class="name">Hennadii</h2>
            <p class="position">Founder & CEO</p>
            <p class="description">Hennadii doesn’t just build software—he architects digital revolutions. A relentless problem-solver and innovator, he founded ShvedkoDev to turn ambitious ideas into game-changing realities.</p>
        </div>
        <div class="team-member animate-on-scroll">
            <img src="/images/img02.png" alt="Anton Shvedko" class="photo">
            <h2 class="name">Anton</h2>
            <p class="position">Front-end developer</p>
            <p class="description">Anton doesn’t just design interfaces—he crafts digital experiences that captivate and inspire. With an artist’s eye and a developer’s precision, he transforms ideas into visually stunning and seamlessly functional realities, pushing the boundaries
                of design with every project.
            </p>
        </div>
        <div class="team-member animate-on-scroll">
            <!-- <img src="/images/img02.png" alt="Anton Shvedko" class="photo"> -->
            <h2 class="name">Alexander</h2>
            <p class="position">Lead Backend Developer</p>
            <p class="description">Alexander doesn’t just write code—he engineers the backbone of digital success. A master of efficiency and scalability, he builds rock-solid solutions that keep businesses running smoothly and growing effortlessly. Where others see complexity,
                he sees opportunity to innovate.
            </p>
        </div>
    </div>

</div>