<div class="container">
    <h2 class="animate-on-scroll zoom-in">Our Team</h2>
    <div class="team-container">
        <div class="team-member animate-on-scroll">
            <img src="/images/img01.png" alt="Hennadii" class="photo">
            <h2 class="name">Hennadii</h2>
            <p class="position">Managing director - CEO & CTO</p>
            <p class="description">Hennadii is a seasoned web developer and entrepreneur who is passionate about innovation and technology. He founded ShvedkoDev to help businesses unlock their full potential through digital solutions that drive results.</p>
        </div>
        <div class="team-member animate-on-scroll">
            <img src="/images/img02.png" alt="Anton" class="photo">
            <h2 class="name">Anton</h2>
            <p class="position">CDO & Lead Front-end developer</p>
            <p class="description">Anton is a creative and talented designer and front-end developer who brings a fresh perspective to every project he works on. With his keen eye for detail and passion for aesthetics, he creates beautiful and functional designs that exceed
                expectations.
            </p>
        </div>
        <div class="team-member animate-on-scroll">
            <img src="/images/img03.jpg" alt="Alex" class="photo">
            <h2 class="name">Alex</h2>
            <p class="position">CMO & Lead Back-end developer</p>
            <p class="description">Alex is a skilled back-end developer with a passion for creating efficient and scalable solutions that drive business growth. He is dedicated to helping businesses streamline their operations and achieve their goals through innovative
                technology.</p>
        </div>
    </div>
</div>
