<div class="container">
    <h2 class="animate-on-scroll zoom-in">Our Team</h2>
    <div class="team-container">
        <div class="team-member animate-on-scroll">
            <img src="images/img01.png" alt="Hennadii Shvedko" class="photo">
            <h2 class="name">Hennadii Shvedko</h2>
            <p class="position">Founder & CEO</p>
            <p class="description">Hennadii is a seasoned web developer and entrepreneur who is passionate about innovation and technology. He founded ShvedkoDev to help businesses unlock their full potential through digital solutions that drive results.</p>
        </div>
        <div class="team-member animate-on-scroll">
            <img src="images/img02.png" alt="Anton Shvedko" class="photo">
            <h2 class="name">Anton Shvedko</h2>
            <p class="position">Front-end developer</p>
            <p class="description">Anton is a creative and talented designer and front-end developer who brings a fresh perspective to every project he works on. With his keen eye for detail and passion for aesthetics, he creates beautiful and functional designs that exceed
                expectations.
            </p>
        </div>
    </div>
</div>